* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: rgb(255, 255, 255);
  width: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FD6585;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(135deg, #FFD3A5, #fd6586, #a5d3ff );
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
}


html {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

:root {
  --main-color: #f8b281;
  --secondary-color: #1b1b1b;
}

@font-face {
  font-family: "argonite";
  src: url("./assets/stone\ orgonite.woff");
}

section {
  padding: 5%;
}

h2 {
  font-size: 2.5rem;
  line-height: 125%;
  padding: 1rem 0rem;
}
h3 {
  font-size: 1.25rem;
  line-height: 125%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav svg {
  cursor: pointer;
  z-index: 10;
}

.links {
  position: fixed;
  top: 35%;
  right: -100%; /* Adjust the value as per your preference */
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.216);
  padding: 10px;
  border-radius: 20px;
  animation: slideInRight 0.5s forwards;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.links a {
  display: block;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 10px; /* Adjust the value as per your preference */
}

.links a:last-child {
  margin-bottom: 3rem;
}


.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-family: "argonite", sans-serif;
}

.logo img {
  width: 1.5rem;
}



.selling-point {
  margin-top: 25vh;
  font-family: "argonite", sans-serif;
  text-shadow: 0px 4px 12px rgba(245, 245, 245, 0.328);
  text-align: center;
  font-weight: bolder;
  
}

.selling-point h2 {
  background: linear-gradient(45deg, #0c0c0c, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.selling-point h3 {
  text-shadow: 0px 4px 12px rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  padding-top: 1.5rem;
  padding-bottom: 30rem;
}


.ctas {
  margin-top: 2rem;
}
.ctas button {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.216);
  margin: 1rem;
}
.cta-main {
  background-color: var(--main-color);
  color: var(--secondary-color);
}
.cta-main a {
  text-decoration: none;
  color: var(--secondary-color);
}
.cta-sec {
  background-color: var(--secondary-color);
  color: white;
}

.hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.classes {
  color: var(--secondary-color);
  background-color: whitesmoke;
  text-align: center;
  font-family: "argonite", sans-serif;
  margin-bottom: 20px;
}
.videos video {
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}
.meditation,
.yoga,
.pilates {
  overflow-x: hidden;
  position: relative;
  text-decoration-color: aliceblue;
  font-family: 'argonite', sans-serif;
}
.videos h3 {
  position: absolute;
  color: var(--main-color);
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.408);
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 2rem;
}

.about {
  padding-top: 5rem;
  background-color: rgba(255, 255, 255, 0.216);
  color: var(--secondary-color);
  margin-top: 6rem;
}
.about h2 {
  font-family: "argonite", sans-serif;
  text-align: center;
  
}
.about p {
  line-height: 150%;
  font-size: 1.2rem;
  text-align: justify;
}
.about img {
  width: 100%;
  margin-top: 2rem;
  border-radius: 1rem;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0% 10%;
  }
  .videos {
    display: flex;
    gap: 2rem;
  }
  .about {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
  }
  .about img {
    width: 50%;
  }
  .about h2 {
    text-align: start;
  }
}

footer{
  background-color: transparent;
  padding: 0.8rem;

}

footer ul{
  display: flex;
  padding: 0.8rem;
}

.contacts{
  width: 5rem;
  list-style-type: none;
  padding: 0.8rem;
  color: whitesmoke;
}

.contacts-copy{
  width: 6rem;
  list-style-type: none;
  padding: 0.8rem;
  color: rgb(5, 4, 4);
  margin-left: 50vw;
}

.contacts a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes slideInRight {
  from {
    right: -200px;
  }
  to {
    right: 10px; /* Adjust the value to control the final position */
  }
}

@media screen and (max-width: 768px) {
  .contacts-copy{
    margin-left: 40vw;
  }
}
